@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.ql-editor strong{
    font-weight:bold;
}
.ql-editor em{
    font-style: italic;
}
.ql-editor sup{
    vertical-align: super;
}
.ql-editor sub{
    vertical-align:sub;
}

.imageUpload{
    display: block;
    margin: 0 auto;

}