.avatar-container:hover{
    background-color: rgba(238, 226, 136, 0.497);
}

.avatar-name{
    text-decoration: none;
    color:whitesmoke;
    text-transform:capitalize;
    font-size: medium;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.avatar-name .avatar{
    border:1px solid rgb(161, 17, 17);
    margin-top: 20px;
}
.avatar-name .avatar:hover{
    animation-name: hoverAvatar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
// animation:name duration function delay count fill-mode
}
.avatar-name .name{
 margin-top: 5px;   
 padding-left: 5px;
}
.avatar-name .name:hover{
    color:rgba(19, 2, 2, 0.776);

}
.link{
    color: whitesmoke;
    font-size: 15px;
}

    .link:hover{
    color:rgba(19, 2, 2, 0.776);
}

.login-link{
    text-decoration: none;
    padding: 10px;
}

@keyframes hoverAvatar{
    0%   {border:5px solid  red;}
    25%  {border:5px solid  yellow;}
    50%  {border:5px solid  blue;}
    100% {border:5px solid  green;}
}
