.avatar-container{
    margin-left:0px 15px;
    display: flex;
    align-items: center;
}

.avatar-name{
    text-decoration: none;
    color:whitesmoke;
    text-transform:capitalize;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.avatar-name .avatar{
    border:1px solid rgb(161, 17, 17);
}
// .avatar-name .avatar:hover{
//     animation-name: hoverAvatar;
//     animation-duration: 0.5s;
//     animation-timing-function: ease-in-out;
// // animation:name duration function delay count fill-mode
// }
.avatar-name .name{
 padding-left: 5px;
}
.avatar-name .name:hover{
    // color:rgba(19, 2, 2, 0.776);

}
.link{
    color: whitesmoke;
    font-size: 15px;
}

    .link:hover{
}

.login-link{
    text-decoration: none;
    padding: 10px;
    padding:0px; 
    margin-right:30px;
}

@keyframes hoverAvatar{
    0%   {border:5px solid  red;}
    25%  {border:5px solid  yellow;}
    50%  {border:5px solid  blue;}
    100% {border:5px solid  green;}
}
