.avatar-name{
    text-decoration: none;
    color:whitesmoke;
    text-transform:capitalize;
    font-size: medium;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.avatar-name .avatar{
    border:1px solid rgb(161, 17, 17);
    margin-top: 20px;
}

.avatar-name .name{
 margin-top: 5px;   
}
.avatar-name .name:hover{
    color:rgba(19, 2, 2, 0.776);
}