.footer-creator{
    display: inline;
    background-image: radial-gradient(blue 10%,skyblue 20%,lightgreen 30%,green 40%, rgb(102, 102, 4) 55%,yellow 70%, red 95%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}