.banner{
background-color: #fff;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

.banner-content{
    padding:50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
   
}
.banner-subText{
    font-size:2rem;
    color: #000;
    font-weight: 500;
    
}